Django ~= 2.2.13
dj-database-url ~= 0.5.0
djangorestframework ~= 3.11.2
django-rest-swagger ~= 2.2.0
requests ~= 2.20.0
django-cors-headers ~= 2.5.2
pyyaml
whitenoise ~= 4.1.2
netaddr
drf-yasg
packaging
bluecat_bam @ git+https://gitlab.umich.edu/its-public/bluecat_bam.git#egg=bluecat_bam-0.2.6
