{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <img src="{% static 'images/netdash-icon.png' %}" alt="NetDash Icon"/>
    </div>
    <div class="sidebar-brand-text mx-2">
      NetDash
    </div>
  </a>
  <hr class="sidebar-divider d-none d-md-block">
  {% if request.user.is_authenticated %}
  <div class="sidebar-heading">
    Logged in: <em>{{ request.user.username }}</em>
  </div>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
  </li>
  {% else %}
  <div class="sidebar-heading">
    Unauthenticated
  </div>
  <li class="nav-item">
    <a class="nav-link" href="{{ netdash_login_url }}">Log In</a>
  </li>
  {% endif %}
  <hr class="sidebar-divider d-none d-md-block">
  <div class="sidebar-heading">
    Modules
  </div>
  {% for module_name, slug in netdash_slugs %}
    <li class="nav-item">
      <a class="nav-link" href="{% url slug %}">
        {{ module_name }}
      </a>
    </li>
  {% endfor %}
  <hr class="sidebar-divider d-none d-md-block">
  <div class="sidebar-heading">
    API
  </div>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'swagger' %}">
      Swagger
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'redoc' %}">
      ReDoc
    </a>
  </li>
  <hr class="sidebar-divider d-none d-md-block">
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
