{% load static %}
{% load nav %}
<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">
  <title>NetDash {% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <div id="wrapper">
    {% nav %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div class="content">
        <div class="row justify-content-center">
          <div class="col-11">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>
