{% extends "hostlookup_bluecat/index.html" %}
{% load merge_tags %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<style>
.datatable {
  font-size: 14px;
}
.invalid {
  background: rgb(255,200,200)
}
.datatable ul {
  list-style-type: none;
  padding: 0;
}
</style>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>
<script type="text/javascript">
$('.datatable').DataTable({
  order: [[1, "asc"]],
  pageLength: 25,
});
</script>
{% endblock %}

{% block results %}
{% if results %}
  {% merged_table results 'table datatable table-striped table-bordered' %}
{% endif %}
{% endblock %}
