{% extends 'base.html' %}

{% block content %}
<h1>Hello World!</h1>
<p>
    You can use this as a starting point to create your NetDash module.
    Explore its structure and read its comments to understand the NetDash Module conventions.
</p>
<p>
    To learn more, clone the <a href="https://github.com/netdash/netdash-examples">NetDash Example modules</a>:
    <pre>cd netdash</pre>
    <pre>git clone git@github.com:netdash/netdash-examples.git</pre>
    This will place all of the example modules in your Django apps directory.
    They can then be enabled in NETDASH_MODULES in settings.py:
    <pre>
        NETDASH_MODULES = [
            'example_devices_dummy',
            'example_hostlookup_dummy',
        ]
    </pre>
</p>
{% endblock %}
