{% extends "hostlookup/index.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<style>
.datatable {
  font-size: 14px;
}
</style>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>
<script type="text/javascript">
$('.datatable').DataTable({
  order: [[1, "asc"]],
  pageLength: 25,
});
</script>
{% endblock %}

{% block results %}
{% if results %}
<table class='table datatable table-striped table-bordered' data-page-length='100'>
  <thead>
    <tr>
      <th>MAC Address</th>
      <th>IPv4</th>
      <th>IPv6</th>
      <th>Last Seen</th>
      <th>Switch IPv4</th>
      <th>Switch IPv6</th>
      <th>Host Port Name</th>
      <th>Switch Location</th>
    </tr>
  </thead>
  <tbody>
    {% for r in results %}
      <tr>
        <td data-order="{{ r.mac|add:'0'}}"><pre>{{ r.mac }}</pre></td>
        <td data-order="{{ r.ipv4|add:'0' }}"><pre>{{ r.ipv4 }}</pre></td>
        <td data-order="{{ r.ipv6|add:'0' }}"><pre>{{ r.ipv6 }}</pre></td>
        <td>{{ r.last_seen }}</td>
        <td data-order="{{ r.switch_ipv4|add:'0' }}"><pre>{{ r.switch_ipv4 }}</pre></td>
        <td data-order="{{ r.switch_ipv6|add:'0' }}"><pre>{{ r.switch_ipv6 }}</pre></td>
        <td>{{ r.host_port_name }}</td>
        <td>{{ r.switch_location }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
